@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  margin: 0 auto;
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow: visible;

  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif; */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.btn {
  @apply bg-white border rounded w-fit transition-colors hover:bg-sky-500/70;
}
.clickable {
  @apply cursor-pointer hover:shadow-[0_1px_3px_black] hover:border-2;
}
.hoverable {
  @apply hover:fill-gray-300;
}
